@font-face {
  font-family: 'Sofia';
  font-style: normal;
  font-weight: 400;
  src: local('Sofia'), local('Sofia-Regular'), url(https://fonts.gstatic.com/s/sofia/v5/KjFw0GXBsysA148bxeiikg.ttf) format('truetype');
}
#header {
  background-color: #000000;
}
#homemenu {
  /*+placement: 430px -65px;*/
  position: relative;
  left: 430px;
  top: -65px;
  background-color: teal;
  color: #FFFFFF;
  border-top: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
}
#quizmenu {
  /*+placement: 490px -65px;*/
  position: relative;
  left: 490px;
  top: -65px;
  color: #FFFFFF;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  background-color: teal;
  border-top-left-radius: 0px;
}
#pages {
  color: rgba(255, 255, 255, 0.274);
}
#oldsitemenu {
  /*+placement: 450px -65px;*/
  position: relative;
  left: 450px;
  top: -65px;
  background-color: teal;
  color: #FFFFFF;
  border-right: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}
#copyrighttext {
  color: #FFFFFF;
  text-align: left;
  padding-left: 50px;
}
#copyrightsymbol {
  text-align: left;
  /*+placement: 5px 40px;*/
  position: relative;
  left: 5px;
  top: 40px;
}
HTML {
  background-color: #000000;
}
#pages {
  color: rgba(255, 255, 255, 0.786);
}
#beginmenu {
  /*+placement: 470px -65px;*/
  position: relative;
  left: 470px;
  top: -65px;
  background-color: teal;
  color: #FFFFFF;
  border-right: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}
#uparrow {
  text-align: center;
  /*+placement: 365px -10px;*/
  position: relative;
  left: 45%;
  top: -10px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
#downarrow {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
  /*+placement: 365px 10px;*/
  position: relative;
  left: 45.1%;
  top: 10px;
}
IMG {
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border: 1px solid #FFFFFF;
}
H1 {
  color: #D8DCE2;
  text-align: center;
}


#stylebutton {
  position: absolute;
  z-index: 1;
  top: 92.5%;
  right: 50px;
  font-size: 20px;
  color: #D8DCE2;
}

#logo {
  position: relative;
  left: 1%;
  top: 1%;
}